{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Events</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Client</th>
                <th>Type</th>
                <th>Number</th>
                <th>Action</th>
                <th>Body</th>
                <th>Time</th>
            </tr>
        </thead>
        {# @var event \AppBundle\Entity\Event #}
        {% for event in events %}
            <tr>
                <td>{{ event.clientName }}</td>
                <td>{{ event.robotType }}</td>
                <td>{{ event.robotNumber }}</td>
                <td>{{ event.action }}</td>
                <td>{{ event.body }}</td>
                <td>{{ event.time.format('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" />
{% endblock %}
